body {
    font-family: Arial, sans-serif;
    margin: 50;
    padding: 20;
    background-color: #000000;
    text-align: center;
}
.blanc {
    color: #ffffff;
}
.bleuviolet {
    color: #7b15ba;
}
h1 {
    color: #7b15ba;
    margin-top: 50px;
    text-align: center;
}
h2 {
    color: #7b15ba;
    margin-top: 50px;
    text-align: center;
}
p {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.btn {
    background-color: #7b15ba;
    color: #ffffff;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}
.photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 8px 32px 64px rgba(123, 21, 186, 0.5);
}
